{% extends "base.html" %}

{% block content %}

<script type="text/javascript" src="https://npmcdn.com/vue@1.0.26/dist/vue.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.js"></script>


<div class="container_align" id="app">

<!-- form fields are using HTML5 regex validation via pattern="some HTML5 regex", with error messages called in via Bootstrap Validator via data-toggle="validator"-->

<form action="" method="POST" role="form" data-toggle="validator" class="form-horizontal" id="addpersonForm" name="addpersonForm">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /> 
	<div class="form-group">
      <label class="control-label col-sm-2" for="firstname">First Name:</label>
	  <div class="col-sm-10">
		  <!--<input type="text" class="form-control" id="firstname" name="firstname" placeholder="please enter first name here"> --!>
		  <input v-model="message1" class="form-control" type="text" id="firstname" name="firstname" placeholder="please enter first name here" required>
      </div>
  </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="lastname">Last Name:</label>
      <div class="col-sm-10">
		  <!--<input type="text" class="form-control" id="lastname" name="lastname" placeholder="please enter last name here"> --!>
		  <input v-model="message2" class="form-control" type="text" id="lastname" name="lastname" placeholder="please enter last name here" required> 
      </div>
  </div>

   <div class="form-group">
      <label class="control-label col-sm-2" for="DOB">DOB:</label>
      <div class="col-sm-10">
		  <!-- <input type="text" class="form-control" id="DOB" name="DOB" placeholder="please enter date of birth in month/day/year format"> --!>
	   <input v-model="message3" class="form-control" type="date" id="DOB" name="DOB" placeholder="please enter your date of birth in MM/DD/YYYY format" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d" required>
			<div class="help-block with-errors"></div>
	</div>
  </div>


  <div class="form-group">
  <label class="control-label col-sm-2" for="Country">Country</label>
        <div class="col-sm-10">
			<select class="form-control" name="countrySelectBox" id="countrySelectBox">
				<!-- obviously not complete-->
				<option value="US">United States</option>
				<option value="AU">Australia</option>
                <option value="AT">Austria</option>
				<option value="BL">Belgium</option>
				<option value="BG">Bulgaria</option>
                <option value="BR">Brazil</option>
				<option value="CA">Canada</option>
				<option value="CH">China</option>
                <option value="DK">Denmark</option>
                <option value="FR">French</option>
				<option value="DE">Germany</option>
				<option value="HG">Hungary</option>
                <option value="IN">India</option>
                <option value="IT">Italy</option>
				<option value="JP">Japan</option>
                <option value="MA">Morocco</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="SG">Singapore</option>
                <option value="ES">Spain</option>
                <option value="SE">Sweden</option>
                <option value="CH">Switzerland</option>
                <option value="GB">United Kingdom</option>
            </select>
		</div>
	</div>

    <div class="form-group">
       <label class="control-label col-sm-2" for="zipcode">Zip code</label>
        <div class="col-sm-10">
			<input v-model="message4" class="form-control" type="number" id="postalCodeInput" name="postalCode" placeholder="please enter the appropriate zicode for your location" pattern="(\d{5}([\-]\d{4})?)" required/>
			<div class="help-block with-errors"></div>
        </div>
	</div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
		  <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </div>
    </div>
 

<div class="jumbotron">
  <h2>Review and submit:</h2>
  <h2 class="inputs">FIRST NAME: <a class="forminput">${ message1 }</a></h2>
  <h2 class="inputs">LAST NAME:    <a class="forminput">${ message2 }</A></h2>
  <h2 class="inputs">DOB:    <a class="forminput">${ message3 }</a></h2>
  <h2 class="inputs">ZIP CODE:    <a class="forminput">${ message4 }</a></h2>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Add Person</a></p> -->

  <button type="submit" name="submit" class="btn btn-primary btn-lg" >Add Person</button>
</div>

</form>

</div>


</div>

<div class="container" id="success"></div>


<script>
	// changing the built-in Vue delimiter of {{ message }}, which overshadows Jinja's {{ message }}, to ${ message }
	
	Vue.config.delimiters = ["${", "}"];

	// instantiate Vue object
    new Vue({
        el: '#app',
        data: {
            message1: '', message2: '', message3: '', message4: '' 
        }
	});

	// event handler for country selection dropdown menu, will push appropriate regex to pattern attribute in input element
    // escaped regex expressions made possible by: 
    // http://www.the-art-of-web.com/javascript/escape/
	var selectionMade = document.getElementById("countrySelectBox");
	var zipCodeInput = document.getElementById("postalCodeInput");
	selectionMade.addEventListener("click", function() { 
		console.log(selectionMade.value);
		if(selectionMade.value == "US") {
			console.log("US selected");
			zipCodeInput.setAttribute("pattern", "(\\d{5}([\\-]\\d{4})?)");

		}
		else if(selectionMade.value == "AT" || selectionMade.value == "AU" || selectionMade.value == "BG" || selectionMade.value == "BL" || selectionMade.value == "HG" || selectionMade.value == "DK" || selectionMade.value == "CH"){
			console.log("Austria selected!");
			zipCodeInput.setAttribute("pattern", "[0-9]{4}");
		}
		else if(selectionMade.value == "BR"){
			console.log("Brazil selected!");
			zipCodeInput.setAttribute("pattern", "[0-9]{5}[\\-]?[0-9]{3}");
		}
		else if(selectionMade.value == "CA"){
			console.log("Canada selected!");
     		zipCodeInput.setAttribute("pattern", "[A-Za-z][0-9][A-Za-z] [0-9][A-Za-z][0-9]");
		}
		else if(selectionMade.value == "DE" || selectionMade.value == "IT" || selectionMade.value == "MA" || selectionMade.value == "FR"){
			console.log("Germany or Italy selected!");
			zipCodeInput.setAttribute("pattern", "[0-9]{5}");
		}
		else if(selectionMade.value == "IN" || selectionMade.value == "SG" || selectionMade.value == "CH"){
			console.log("India selected!");
			zipCodeInput.setAttribute("pattern", "[0-9]{6}");
		}
		else if(selectionMade.value == "JP"){
			console.log("Japan selected!");
			zipCodeInput.setAttribute("pattern", "\\d{3}-\\d{4}");
		}
		else if(selectionMade.value == "PL"){
			console.log("Poland selected!");
			zipCodeInput.setAttribute("pattern", "[0-9]{2}\\-[0-9]{3}");
		}
		else if(selectionMade.value == "ES"){
			console.log("Spain selected!");
			zipCodeInput.setAttribute("pattern", "((0[1-9]|5[0-2])|[1-4][0-9])[0-9]{3}");
		}
		else if(selectionMade.value == "SE"){
			console.log("Sweden selected!");
			zipCodeInput.setAttribute("pattern", "\\d{3}\\s?\\d{2}");
		}
		else if(selectionMade.value == "GB"){
			console.log("United Kingdom selected!");
			zipCodeInput.setAttribute("pattern", "[A-Za-z]{1,2}[0-9Rr][0-9A-Za-z]? [0-9][ABD-HJLNP-UW-Zabd-hjlnp-uw-z]{2}")	
		}

	});



	// Ajax form data sender
    function sendData(form) {

    	var XHR = new XMLHttpRequest();

    	// We bind the FormData object and the form element
    	//var FD = new FormData(form);
	    var FD = form;

		//var FD = JSON.stringify(document.getElementById('addpersonForm')).serializeArray());

    	// We define what will happen if the data are successfully sent
    	XHR.addEventListener("load", function(event) {
			console.log(event.target.responseText);
		    //$("#app").hide();
            document.getElementById("app").style.display = "none";

			///$("#success").append("<h1>person has been added</h1>");
			$("#success").load('/successconfirm/');
    	});

    	// We define what will happen in case of error
    	XHR.addEventListener("error", function(event) {
			console.log('Something went wrong');
			console.log(xhr.status);
    	});

    	// We setup our request
    	XHR.open("POST", "/addperson/");

		var csrftoken = "{{ csrf_token() }}";

		// building request header
	    XHR.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		XHR.setRequestHeader("X-CSRFToken", csrftoken);

		// The data sent are the one the user provide in the form
	    XHR.send(FD);


 	 };


    // JQuery Bootstrap validator that's controlling sendData() 
	$('#addpersonForm').validator().on('submit', function (e, data) {
		if (e.isDefaultPrevented()) {
            console.log(data);
			console.log(e);
			// handle the invalid form...
			console.log("invalid form");
  		} else {
			// everything looks good!
			//var form = document.getElementById("addpersonForm");

            // converting form values to json object
		    var obj = {};
			var formElements = document.querySelectorAll('input');
			for (var i = 0; i < formElements.length; ++i){
				var element = formElements[i];
				var name = element.name;
				var value = element.value;

				if (name) {
					obj[name] = value;
				} 
			}

			var form = JSON.stringify(obj);

			console.log(form);
			// to takeover its submit event.
    		//event.preventDefault();
			sendData(form);
			e.preventDefault();
  			};

  		});





</script>



{% endblock %}


