
<!-- each entry is an instance of an entry in the entries table in the blogful database. Entry is one of many entries, and entries is the session.query(Entry) object which is created in the views.py file. Every item looped through in the for entry in entries loop in the entries.html file pings this macro and the jinja below creates a blog entry on the website. -->

{% macro render_entry(entry) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        {{ entry.author.name }}
        <ul class="list-unstyled">
            <!-- using dateformat() filter from filters.py on entry.datetime -->
            <!--  object that's passed to filter | filter (or filter can be filter("some string") so that both object and string are passed to filter function -->
            <li>
                {{ entry.datetime | dateformat("%d/%m/%y") }}
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
            <!-- See Flask documentation for how url_for function works:
             http://flask.pocoo.org/docs/0.10/quickstart/#url-building
             The url_for() function accepts the name of the function (in this case, as defined in the views.py file) as first argument and a number of keyword arguments, each corresponding to the variable part of the URL rule. Unknown variable parts are appended to the URL as query parameters.-->
            <a href="{{ url_for('entry', id=entry.id) }}">{{ entry.title }}</a>
            <!-- using markdown() filter from filters.py on content supplied by entry.content -->
        </h1>
        {{ entry.content | markdown }}
    </div>
</div>
{% endmacro %}

