
<!-- importing macros.html as macros which is a macro used for handling each entry in the blogful db -->
{% import "CRUD_macros.html" as macros %}

<!-- The extends informs the templating engine that this template “extends” another template, base.html, establishing a link between the templates. This sends what the code below does over to base.html -->
{% extends "base.html" %}


{% block content %}

<script type="text/javascript" src="https://npmcdn.com/vue@1.0.26/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--
<ul id="test">
  <template v-for="item in items" track-by="$index">
	  <li>${ item.firstname }</li>
    <li class="divider"></li>
  </template>
</ul>

-->

<div class="list-group" id="test">
	<template v-for="item in items" track-by="$index">
      <a href="#" class="list-group-item active">
	  <b>Name:</b> ${ item.firstname} ${ item.lastname }</a>
      <a href="#" class="list-group-item"><b>DOB:</b> ${ item.dob }</a>
	  <a href="#" class="list-group-item"><b>postal code:</b> ${ item.zipcode }</a>
      <a class="list-group-item"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteModal">DELETE</button>   <button type="button" class="btn btn-info" data-toggle="modal" data-target="#UpdateModal">UPDATE</button></a>
  </template>
  </div>

  <!-- original jinja2 version
<ul class="pager">
        {% if has_prev %}
        <li class="previous" >
        <a href="{{ url_for('searchpeople', search_for=search_for, page=page - 1) }}">&larr;previous</a>
        </li>
        {% endif %}
        {% if has_next %}
        <li class="next">
        <a href="{{ url_for('searchpeople', search_for=search_for, page=page + 1) }}">&rarr;next</a>
        </li>
        {% endif %}
    </ul>

	-->


	<ul class="pager">
		<li class="previous">
			<a href="javascript:prevPage()" id="btn_prev">Previous</a>
		</li>
		<li class="next">
			<a href="javascript:nextPage()" id="btn_next">Next</a>
		</li>
	</ul>


<script>

	var current_page = 1;
	var records_per_page = 5;


	function numPages() {
		return Math.ceil(apiResponse.length / records_per_page);
    }

	function prevPage()
		{
    		if (current_page > 1) {
        		current_page--;
        		changePage(current_page);
    		}
		}
		
	function nextPage()
		{
    		if (current_page < numPages()) {
        		current_page++;
				changePage(current_page);
				console.log(itemsArray.slice[10]);
    	}
	}



	
	Vue.config.delimiters = ["${", "}"];


    var xhr = new XMLHttpRequest();
    //xhr.addEventListener("load", reqListener);

    console.log(xhr.readyState); 

	// monitoring readyState of xhr object, when readyState == 4 or Done, function will be called
	xhr.onreadystatechange = function() {
		console.log("calling function");

		console.log(xhr.readyState);

		if(xhr.readyState == XMLHttpRequest.DONE) {
			//alert(xhr.responseText);
			//console.log(xhr.response);
		
		    //apiResponse = xhr.responseText;

		    apiResponse = xhr.response;
			// converting json server response string to json object
			apiResponse = JSON.parse(apiResponse);

			//console.log(apiResponse);
			
		    itemsArray = [];
     
			for(var i = 0; i < apiResponse.length; i++){
				console.log(apiResponse[i]);
			}



			for (var entry in apiResponse) {
				console.log(apiResponse[entry]);
				itemsArray.push(apiResponse[entry]);
			}

			
				
			// vue.js	
			var vm = new Vue({
				el: '#test',
				data: {
					parentMessage: 'Parent',
					items: itemsArray
					//items: [
					//	{ message: 'Foo' },
					//	{ message: 'Bar' }
					//]
				}
			})

			
		}
	}
	
	xhr.open("GET", "http://0.0.0.0:8080/listpeople");
	xhr.send();

	console.log(xhr.readyState);





/*	
	// vue.js
	Vue.config.delimiters = ["${", "}"];
	var vm = new Vue({
		el: '#test',
		data: {
    parentMessage: 'Parent',
    items: [
      { message: 'Foo' },
      { message: 'Bar' }
    ]
  }
	})
*/
</script>


{% endblock %}

